/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body{
    font-family:'Lucida Console';
}

.topnav{
    background-color: #121212;
    color: #C0FFEE;
    overflow: hidden;
}

.topnav a{
    float: left;
    color: #C0FFEE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #C0FFEE;
    color: #121212;
}