@page
@model catsandwich.ca.Pages.Labs.Lab2.PortfolioModel
@{
    Layout = "_LabLayout";
    ViewData["Title"] = "Portfolio";
}

<style>
    table{
        background-color: #080808;
        border-radius: 5px;
        border-spacing: 20px;
    }
    table img{
        box-shadow: 5px 5px #000000;
        width: 64px;
        border-radius: 5px;
    }
</style>

<h1>Portfolio</h1>

<table>
    <tr>
        <td>
            <img src="~/media/Labs/Lab2/Fire0.png" />
        </td>
        <td>
            <img src="~/media/Labs/Lab2/Fire1.png" />
        </td>
        <td>
            <img src="~/media/Labs/Lab2/Fire2.png" />
        </td>
    </tr>
    <tr>
        <td>
            <img src="~/media/Labs/Lab2/tree.png" />
        </td>
        <td>
            <img src="~/media/Labs/Lab2/lightning.png" />
        </td>
        <td>
            <img src="~/media/Labs/Lab2/fire.png" />
        </td>
    </tr>
</table>