@{
    Layout = "_Layout.cshtml";
}
</style>

@section nav{
    <div class="lab-nav nav">
        <a asp-page="/Labs/Lab1/Index">Lab1</a>
        <a asp-page="/Labs/Lab2/Index">Lab2</a>
    </div>
}

@RenderBody()