@{
    Layout = "_Layout.cshtml";
}

@functions {
    public Microsoft.AspNetCore.Html.IHtmlContent NavItem(string Text, string Link)
    {
        string Class = "nav-selected";
        if (Link == "/" && Context.Request.Path != "/")
            Class = "nav-unselected";
        else if (!Context.Request.Path.StartsWithSegments(Link))
            Class = "nav-unselected";

        return Html.Raw($"<a class=\"{Class}\" href=\"{Link}\">{Text}</a>");
    }
}

@section nav{
    @NavItem("Lab1", "/Labs/Lab1")
    @NavItem("Lab2", "/Labs/Lab2")
}

@RenderBody()