<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - catsandwich.ca</title>
    <link rel="icon" type="image/png" href="~/media/catsandwichtransparent.png" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav runat="server">
            <div class="nav-bg">
                <div>
                    <img src="~/media/catsandwichtransparent.png" />
                    @if (Context.Request.Path == "/")
                    {
                        <a class="nav-selected" asp-page="/Index">Home</a>
                    }
                    else
                    {
                        <a class="nav-unselected" asp-page="/Index">Home</a>
                    }
                    @if (Context.Request.Path.StartsWithSegments("/Labs"))
                    {
                        <a class="nav-selected" asp-page="/Labs/Index">Labs</a>
                    }
                    else
                    {
                        <a class="nav-unselected" asp-page="/Labs/Index">Labs</a>
                    }
                </div>
                <div>
                    @RenderSection("nav", false)
                </div>
            </div>
        </nav>
        <hr />
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>

        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>