<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - catsandwich.ca</title>
    <link rel="icon" type="image/png" href="~/media/catsandwichtransparent.png" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="navicon">
            <a asp-page="/Index"><img src="~/media/catsandwichtransparent.png" /></a>
        </div>
        <nav class="nav">
            <div class="nav">
                <a asp-page="/Labs/Index">Labs</a>
            </div>
        </nav>
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>

        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
